.todosList {
  background-color: var(--bg-clr-prm);
  border-radius: 1em;
  padding: 1em 2em;
  position: relative;
}

.todosList > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todosList > ul > li {
  padding: 0 1em;
  border-radius: 1em;
  cursor: pointer;
  border: 2px solid lightgray;
}

.todosList > ul > li:hover {
  border: 2px solid blue;
}

.todosList > ul > li + li {
  margin-top: 0.25em;
}

.todosList > button {
  width: calc(100% - 2em);
  position: absolute;
  bottom: 1em;
  left: 1em;
  padding: 1em;
  cursor: pointer;
  border-radius: 1em;
}
